/* LOGIN PAGE */
.login-page {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
                url("logo.png");
    background-size: cover;
    background-position: center;
}

/* Login Box */
.Login {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    border: 1px solid rgba(255,215,0,0.3);
}

.Login h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* Input Fields */
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #ffd700, #1e90ff);
    border: none;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffd700;
}
